<p>
  <b>Name:</b>
  <%=h @subject.name %>
</p>

<%= link_to 'Create a prereq', new_subject_prerequisite_path(@subject) %>


<%= link_to 'Edit', edit_subject_path(@subject) %> |
<%= link_to 'Back', subjects_path %>
